<button id="addChild" (click)="showForm()">Add Child</button>

<div class="responsive">
    <div class="fluid-container">
        <!-- <input type="text" id="searchInput" [(ngModel)]="searchTerm" placeholder="Search..." (input)="search()"> -->
        <form class="search">
            <input type="text" placeholder="Search" class="searchinput" name="search" [(ngModel)]="searchTerm" (input)="search()" />
            <button type="button" class="searchbutton">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Parent Name</th>
                    <th>Class</th>
                    <th>Address</th>
                    <th>Contact</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students ; let i = index">
                    <td>{{student.id}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.parent}}</td>
                    <td>{{student.class}}</td>
                    <td>{{student.address}}</td>
                    <td>{{student.contact}}</td>
                    <td style="display: flex;">
                        <button class="btn btn-success" (click)="editStudent(student)">Edit</button>
                        <button class="btn btn-danger" style="margin: 0 5px;" (click)="removeStudent(student._id, student.name)">Delete</button>
                        <button (click)="downloadRecordAsPDF(student)" class="download-button">
                            <i class="fa-solid fa-download"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    
        <div id="entries" *ngIf="!searchTerm">
            <div >total entries : {{totalEntries}}</div>
            <div >showing : {{students.length}}</div>
        </div>
        
        <app-pagination id="pagination"
        [currentPage]="currentPage"
        [totalPages]="totalPages"
          (pageChange)="onPageChange($event)"
        ></app-pagination>

    </div>
</div>

<app-add-child *ngIf="showAddForm"></app-add-child>

<app-edit-child *ngIf="showEditForm" [editStudent]="studentToBeEdited"></app-edit-child>