/* body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.login-container {
    max-width: 400px;
    margin: auto;
    margin-top:5rem;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #555;
} */





/*  */
/*  */
/*  */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;

}

#container{
    margin-top:5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width:30vw;
    min-height:50vh;
    padding:2vw 3vw;
    box-shadow: 0px 0px 24px #c8c6de;
}

label{
    margin-bottom: 0.5vw;
}
.form-group{
    margin-bottom:1vw;
}

input{
    padding:5px 10px;
}

#error{
    color:red
}

#heading{
    text-align: center;
    margin-bottom:2vw;
}

#heading h1{
    font-weight: 600
}

button{
    padding:8px 15px;
    float:right;
}