
<div id="container">
    <form [formGroup]="loginForm" (submit)="login()">
        <div id="heading">
            <h1>Login</h1>
        </div>
        <div class="form-group">
            <label for="username">Username : </label>
            <input type="username" id="username" class="form-control" formControlName="username" (input)="clear()">
        </div>
        <div class = "error" *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">username is required</div>
        <div class = "error" *ngIf="loginForm.get('username').hasError('email') && loginForm.get('username').touched">Invalid email format</div>

        <div class="form-group">
            <label for="password">Password : </label>
            <input type="password" id="password" class="form-control" formControlName="password" (input)="clear()">
        </div>

        <p id="error" *ngIf="!isValidUser">{{errMsg}}</p>
        <div>
            <a href="">forgot your password</a>
        </div>
        <button class="btn btn-primary" [disabled]="loginForm.invalid">Sign In</button>
    </form>


    
</div>